.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
.logo-web {
  position: absolute;
  float: left;
  background-image: url(/images/logo.jpg);
  margin-top: 20px;
  height: 40px;
  width: 152px;
}
.navigation {
  float: right;
}
.nav-top {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.banner {
  margin-top: 140px;
  height: 320px;
  background-image: url(/images/background5.jpg);
  background-size: cover;
  background-position: 0 0;
}
.partner-container {
  position: relative;
  background-color: #f0f0f0;
  height: 200px;
}
h1 {
  text-align: center;
}

h1 .av {
  color: #fb6000;
}
.partner-container img {
  height: 100px;
  margin: 50px 10px 0 23px;
}
.tutorial-container img {
  height: 200px;
  width: 400px;
}
.tc-left {
  margin-left: 50px;
  float: left;
}
.tc-left p {
  text-align: center;
}
.tc-right {
  float: right;
  margin-right: 50px;
}
.tc-right p {
  text-align: center;
}
/* clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
