.container {
  margin: 0 -7px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: white;
}
.navigation-logo {
  margin-top: 15px;
}
.navigation-right {
  display: flex;
  align-items: center;
}
.navigation-menu {
  display: flex;
}
.navigation-menu a img {
  height: 40px;
  width: 40px;
  background-size: cover;
}
.navigation-button {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.navigation-button input {
  font-size: 40px;
}

.banner {
  margin-top: 140px;
  height: 320px;
  background-image: url(/images/background5.jpg);
  background-size: cover;
  background-position: 0 0;
}
.partner-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  height: 200px;
}
h1 {
  text-align: center;
}

h1 .available {
  color: #fb6000;
}
h1 .TUTORIAL {
  color: #fb6000;
}
.partner-container img {
  height: 100px;
  margin: 50px 10px 0 23px;
}
.tutorial-container img {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 400px;
}
.tutorial-container-left {
  margin-left: 150px;
  float: left;
}
.tutorial-container-left p {
  text-align: center;
}
.tutorial-container-right {
  float: right;
  margin-right: 150px;
}
.tutorial-container-right p {
  text-align: center;
}
.pet-container {
  display: flex;
  justify-content: center;
}
.pet-container img {
  height: 70px;
  width: 70px;
  margin: 50px 20px;
  padding-left: 60px;
}
.foods {
  display: flex;
  justify-content: center;
}
.foods img {
  height: 200px;
  width: 130px;
  margin-right: 40px;
  padding-left: 50px;
}
.brands {
  margin: 0 auto;
  position: relative;
  background-color: #f0f0f0;
}
h1 .brands {
  margin-top: 20px;
}
.brands img {
  margin-left: 50px;
}
h1 .string-brands {
  color: #fb6000;
}

.footer {
  display: flex;
  background-color: #3a3a3a;
  color: white;
  justify-content: space-around;
  padding-top: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
}

.petfood,
.petgallery,
.pettutorial,
.about {
  position: relative;
  float: left;
  margin-left: 10px;
  color: #fb6000;
  list-style-type: none;
}
footer b {
  margin-left: 40px;
}
footer ul li {
  list-style-type: none;
}
footer .petfood {
  margin-left: 80px;
}
.social {
  display: flex;
  justify-content: flex-start;
}
.social ul li img {
  height: 30px;
  width: 30px;
  background-size: cover;
  margin-left: 30px;
}
.company {
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}
.company img {
  height: 30px;
  width: 40px;
  background-size: cover;
}
/* clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
